body{
    height: 100%;
    width: 100vw;
    background-color: #f3f3fb;
    background-image:  linear-gradient(30deg, #dcffdc 12%, transparent 12.5%, transparent 87%, #dcffdc 87.5%, #dcffdc), linear-gradient(150deg, #dcffdc 12%, transparent 12.5%, transparent 87%, #dcffdc 87.5%, #dcffdc), linear-gradient(30deg, #dcffdc 12%, transparent 12.5%, transparent 87%, #dcffdc 87.5%, #dcffdc), linear-gradient(150deg, #dcffdc 12%, transparent 12.5%, transparent 87%, #dcffdc 87.5%, #dcffdc), linear-gradient(60deg, #dcffdc77 25%, transparent 25.5%, transparent 75%, #dcffdc77 75%, #dcffdc77), linear-gradient(60deg, #dcffdc77 25%, transparent 25.5%, transparent 75%, #dcffdc77 75%, #dcffdc77);
    background-size: 30px 53px;
    background-position: 0 0, 0 0, 15px 26px, 15px 26px, 0 0, 15px 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formulario{
    height: 400px;
    width: 350px;
    border-radius: 8px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 5px;
}