<div class="jumbotron mt-4">
    <h1 class="display-4">NODEJS APP MONGOBD</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consecte adipisicing elit. Numquam, voluptatibus.</p>
    <a href="#" class="btn btn-primary btn-lg">click</a>
</div>