
.textjustify{
    display: flex;
}

.target{
    display: flex;
    flex-direction: column-reverse;
    gap: 2px;
    
}

.numberQuot, .dateQuot{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 2px 10px;
}

.addproduct, .boxaddProduct{
    display: flex;
    align-items: center;
    gap: 30px;
}

.boxaddProduct{
    padding: 6px 10px;

}

.btnbox{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 4px;
}

.infoSeller, .infoQuot{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.infoCustomer,.offercondition{
    display: flex;
    /* el flujo de contenido sera vertical para los datos */
    flex-direction: column;
}

.infoCustomer> div, .btnboxoptions,.prices>div, .description, .infowaigth,.informational,.offercondition>div{
    display: flex;
    gap: 5px;

}

.infoCustomer{
    flex: 2;
}
.offercondition{
    flex: 1;
}
.informational{
border: 1px solid gray;
padding: 10px;
}

.tablelegend{
    font-style: italic;
    padding: 4px 10px;
}

.pricetable{
    padding: 2px 10px;
    margin-bottom: 5px;
}

.description{
    padding: 5px 10px;
}

.btnboxoptions{
    color: black;
}


































