<div>
    {{#each notes}}
    <div style="background-color: aquamarine; heigth:100px;width:300px">
        <h4 class="titulo">
            {{this.producto}} a
        </h4>
        <p>
            {{cantidad}}
        </p>
        <button style="background-color: red;">eliminar</button>
    </div>
    {{/each}}
</div>